<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_consult.css">
    <link rel="shortcut icon" href="b.ico" type="image/x-icon">
    <title>Consult</title>
</head>

<body>
    <header>

    <div class="left-main">
        
        <a href="tela_home.html">Home</a>

    </div>


    <div class="center-main">

        <input type="text" placeholder="Pesquisa">

    </div>
    
    
    <div class="right-main">

        <select name="filtros" id="filtros" >
            <option value="SP">SP</option>
            <option value="MG">MG</option>
            <option value="RJ">RJ</option>
            <option value="SC">SC</option>
            <option value="DF">DF</option>
            <option value="BA">BA</option>
            <option value="GO">GO</option>
        </select>
    
    </div>
    

    
</header>
</body>
</html>