<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="style_home.css">
    <link rel="shortcut icon" href="b.ico" type="image/x-icon">

    <title>Home</title>
</head>
<body>
    <header>
        <div class="hight-home">
            <a href="tela_home.html">Home</a>
            <a href="tela_consult.html"><input type="button", class="btn-consult" value="CONSULTAR"></a>
        </div>

        <div class="left-home">
            <a href="tela_perfil.html"><input type="button", class="btn-perfil" value="PERFIL"></a>
            <a href="tela_cad.html"><input type="button", class="btn-sair" value="SAIR"></a>
        </div>
    </header>
    
</body>
</html>
