<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_cad.css">
    <link rel="shortcut icon" href="b.ico" type="image/x-icon">
    <title>Cadastro</title>
</head>

<body>
    <div class="main-login">
        <div class="left-login">
            <h1> Cadastre-se agora <br> Para não perder nenhum benefício exclusivo!</h1>
            <img src="astronaut.svg" class="left-img" alt="astronaut">
        </div>

        <div class="right-login">
            <div class="card-login">
                <div class="textfield">
                        <label for="gmail">Gmail</label>
                        <input type="email" name="gmail", placeholder="Gmail">
                </div>

                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha", placeholder="Senha">
                </div>


                <a href="tela_home.html"><input type="submit", class="btn-cad" value="CADASTRE-SE"></a>
                <a href="tela_home.html"><input type="submit", class="btn-login" value="LOGIN"></a>
            </div>
        </div>
    </div>
    
</body>
</html>